@use "bootstrap/scss/bootstrap";
@use "setings";
@use "var" as *;
@use "mixins/zindex" as *;
@use "components/header";
@use "components/poster";
@use "components/item";
@use "components/categories";
@use "components/order";
@use "components/footer";
@use "fonts";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: $fon;
  color: $white;
}

